# 07장 Pandas
---
- Dates : Aug 27, 2024  
- Author : JaeEun Yoo
---

## Pandas란?
- 데이터 분석, 데이터 처리 등을 쉽게 하기 위해 만들어진 라이브러리
- 수치형 테이블과 시계열 데이터를 조작하고 운영하기 위한 데이터를 제공
- 판다스의 이름은 계량 경제학에서 사용되는 용어인 'PANel DAta'의 앞 글자를 따서 지어짐
- R에서 사용되던 data.frame 구조를 본뜬 DataFrame이라는 구조를 사용
- 여러 형태의 벡터 및 행렬연산과 나아가 여러 수학적인 기능들을 빠르고 간편하게 사용할 수 있는 기능들을 제공

## Pandas의 자료 구조
기본적으로 정의되는 자료구조인 Series와 Data Frame을 사용

In [2]:
import pandas as pd

## Series (1차원)

In [3]:
# Series 정의하기
obj = pd.Series([1, 3, 5, -7])
# obj 출력
obj

0    1
1    3
2    5
3   -7
dtype: int64

In [4]:
obj.values

array([ 1,  3,  5, -7])

In [5]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [6]:
# Series의 자료형 확인하기
obj.dtypes

dtype('int64')

In [7]:
# dictionart형 배열을 Series data로 만들어보기
# 자동으로 key값이 index가 됩니다
dic_data = {'jeong':10, 'kim':20,'choi':30,'lee':40}
obj3 = pd.Series(dic_data)
obj3

jeong    10
kim      20
choi     30
lee      40
dtype: int64

## Dataframe (2차원)

In [9]:
# Data Frame 정의하기
data = {'name':['Jeong','Lee','Choi','Kim','Hong'],
        'age':[21, 22, 23, 24, 25 ],
        'stamp':[11.0, 12.0, 13.5, 14.5, 15]
        }
df = pd.DataFrame(data)
# Data Frame을 사용하면 가독성이 좋은 행과 열의 구조를 가진 데이터로 변형됩니다.
df

    name  age  stamp
0  Jeong   21   11.0
1    Lee   22   12.0
2   Choi   23   13.5
3    Kim   24   14.5
4   Hong   25   15.0

In [10]:
df.index

RangeIndex(start=0, stop=5, step=1)

In [11]:
df.columns

Index(['name', 'age', 'stamp'], dtype='object')

In [15]:
df.keys()

Index(['name', 'age', 'stamp'], dtype='object')

In [13]:
df.values

array([['Jeong', 21, 11.0],
       ['Lee', 22, 12.0],
       ['Choi', 23, 13.5],
       ['Kim', 24, 14.5],
       ['Hong', 25, 15.0]], dtype=object)

---
## Dataframe 다루기

In [16]:
df2 = pd.DataFrame(data, columns=['age', 'stamp', 'name', 'class'],
                   index=['one', 'two', 'three', 'four', 'five'])
df2

       age  stamp   name class
one     21   11.0  Jeong   NaN
two     22   12.0    Lee   NaN
three   23   13.5   Choi   NaN
four    24   14.5    Kim   NaN
five    25   15.0   Hong   NaN

In [18]:
# 열을 선택하기
df2['name']

one      Jeong
two        Lee
three     Choi
four       Kim
five      Hong
Name: name, dtype: object

In [22]:
df2.name

one      Jeong
two        Lee
three     Choi
four       Kim
five      Hong
Name: name, dtype: object

In [23]:
df2[['name','age']]

        name  age
one    Jeong   21
two      Lee   22
three   Choi   23
four     Kim   24
five    Hong   25

In [21]:
# 행을 선택하기
df2.iloc[0]

age         21
stamp     11.0
name     Jeong
class      NaN
Name: one, dtype: object

In [41]:
df2.loc['one']

age         21
stamp     11.0
name     Jeong
class      0.5
test
Name: one, dtype: object

In [24]:
df2['class'] = [0.5,1.0,2.1,3.5,4.5]

In [25]:
df2

       age  stamp   name  class
one     21   11.0  Jeong    0.5
two     22   12.0    Lee    1.0
three   23   13.5   Choi    2.1
four    24   14.5    Kim    3.5
five    25   15.0   Hong    4.5

In [26]:
df2['test']=''

In [27]:
df2

       age  stamp   name  class test
one     21   11.0  Jeong    0.5
two     22   12.0    Lee    1.0
three   23   13.5   Choi    2.1
four    24   14.5    Kim    3.5
five    25   15.0   Hong    4.5

---
## 파일을 데이터프레임으로 읽어오기

### Python 공식 인코딩 종류

- **cp949**
- euc-kr
- utf-16
- **utf-8**
- ascii
- profile

In [28]:
df = pd.read_csv('./ASOS_지점정보_240624.csv',encoding='cp949')

In [29]:
df

,지점,시작일,종료일,지점명,지점주소,관리관서,위도,경도,노장해발고도(m),기압계(관측장비지상높이(m)),기온계(관측장비지상높이(m)),풍속계(관측장비지상높이(m)),강우계(관측장비지상높이(m))
0,90,1968-01-01,NaN,속초,강원특별자치도 고성군토성면 봉포5길9 속초자동기상관측소,속초기상대(90),38.2509,128.5647,17.53,18.73,1.7,10.0,1.4
1,93,2016-10-01,NaN,북춘천,강원특별자치도 춘천시신북읍 산천리264(장본1길 12) 춘천기상대,춘천기상대(101),37.9474,127.7544,95.78,96.78,1.5,10.0,1.4
2,95,1988-01-01,NaN,철원,강원특별자치도 철원군갈말읍 명성로179번길 26 철원자동기상관측소,춘천기상대(101),38.1479,127.3042,155.48,156.98,1.8,13.0,1.5
3,98,1998-02-01,NaN,동두천,경기도 동두천시방죽로 16-47동두천서비스센터,수도권기상청(119),37.9019,127.0607,115.62,116.74,1.7,10.0,1.0
4,99,2013-10-22,NaN,파주,경기도 파주시문산읍 마정로46-29(파주기상대),수도권기상청(119),37.8859,126.7665,30.59,31.99,1.7,10.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,288,1973-01-01,NaN,밀양,경상남도 밀양시점필재로 5밀양자동기상관측소,울산기상대(152),35.4915,128.7441,8.31,12.50,2.0,10.0,1.3
140,289,1972-03-30,NaN,산청,경상남도 산청군 산청읍 꽃봉산로133번길 3산청자동기상관측소,창원기상대(155),35.4130,127.8791,138.22,138.80,1.6,10.0,0.6
141,294,1972-01-24,NaN,거제,경상남도 거제시 장평2로2길 47거제자동기상관측소(장평동),부산지방기상청(159),34.8882,128.6046,44.83,46.70,1.7,10.0,0.6
142,295,1972-01-24,NaN,남해,경상남도 남해군이동면 남해대로2423 남해자동기상관측소,부산지방기상청(159),34.8166,127.9264,45.71,47.01,1.8,10.0,0.8
143,296,2023-01-11,NaN,북부산,부산광역시 강서구 대저로63번길 54부산지방기상청(대저1동),부산지방기상청(159),35.2178,128.9602,3.00,NaN,NaN,NaN,NaN

In [30]:
df.keys()

Index(['지점', '시작일', '종료일', '지점명', '지점주소', '관리관서', '위도', '경도', '노장해발고도(m)',
       '기압계(관측장비지상높이(m))', '기온계(관측장비지상높이(m))', '풍속계(관측장비지상높이(m))',
       '강우계(관측장비지상높이(m))'],
      dtype='object')

In [31]:
len(df)

144

In [32]:
df.head()

,지점,시작일,종료일,지점명,지점주소,관리관서,위도,경도,노장해발고도(m),기압계(관측장비지상높이(m)),기온계(관측장비지상높이(m)),풍속계(관측장비지상높이(m)),강우계(관측장비지상높이(m))
0,90,1968-01-01,NaN,속초,강원특별자치도 고성군토성면 봉포5길9 속초자동기상관측소,속초기상대(90),38.2509,128.5647,17.53,18.73,1.7,10.0,1.4
1,93,2016-10-01,NaN,북춘천,강원특별자치도 춘천시신북읍 산천리264(장본1길 12) 춘천기상대,춘천기상대(101),37.9474,127.7544,95.78,96.78,1.5,10.0,1.4
2,95,1988-01-01,NaN,철원,강원특별자치도 철원군갈말읍 명성로179번길 26 철원자동기상관측소,춘천기상대(101),38.1479,127.3042,155.48,156.98,1.8,13.0,1.5
3,98,1998-02-01,NaN,동두천,경기도 동두천시방죽로 16-47동두천서비스센터,수도권기상청(119),37.9019,127.0607,115.62,116.74,1.7,10.0,1.0
4,99,2013-10-22,NaN,파주,경기도 파주시문산읍 마정로46-29(파주기상대),수도권기상청(119),37.8859,126.7665,30.59,31.99,1.7,10.0,1.0

In [33]:
df.tail()

,지점,시작일,종료일,지점명,지점주소,관리관서,위도,경도,노장해발고도(m),기압계(관측장비지상높이(m)),기온계(관측장비지상높이(m)),풍속계(관측장비지상높이(m)),강우계(관측장비지상높이(m))
139,288,1973-01-01,NaN,밀양,경상남도 밀양시점필재로 5밀양자동기상관측소,울산기상대(152),35.4915,128.7441,8.31,12.50,2.0,10.0,1.3
140,289,1972-03-30,NaN,산청,경상남도 산청군 산청읍 꽃봉산로133번길 3산청자동기상관측소,창원기상대(155),35.4130,127.8791,138.22,138.80,1.6,10.0,0.6
141,294,1972-01-24,NaN,거제,경상남도 거제시 장평2로2길 47거제자동기상관측소(장평동),부산지방기상청(159),34.8882,128.6046,44.83,46.70,1.7,10.0,0.6
142,295,1972-01-24,NaN,남해,경상남도 남해군이동면 남해대로2423 남해자동기상관측소,부산지방기상청(159),34.8166,127.9264,45.71,47.01,1.8,10.0,0.8
143,296,2023-01-11,NaN,북부산,부산광역시 강서구 대저로63번길 54부산지방기상청(대저1동),부산지방기상청(159),35.2178,128.9602,3.00,NaN,NaN,NaN,NaN

<img src='./figures/pandas_01.png'>

In [37]:
df[0]

KeyError: 0

In [38]:
df.iloc[0]

지점                                               90
시작일                                      1968-01-01
종료일                                             NaN
지점명                                              속초
지점주소                강원특별자치도 고성군토성면 봉포5길9 속초자동기상관측소
관리관서                                      속초기상대(90)
위도                                          38.2509
경도                                         128.5647
노장해발고도(m)                                     17.53
기압계(관측장비지상높이(m))                              18.73
기온계(관측장비지상높이(m))                                1.7
풍속계(관측장비지상높이(m))                               10.0
강우계(관측장비지상높이(m))                                1.4
Name: 0, dtype: object

In [42]:
df.loc[11]

지점                                               104
시작일                                       2008-07-28
종료일                                              NaN
지점명                                              북강릉
지점주소                강원특별자치도 강릉시사천면 과학단지로130 강원지방기상청
관리관서                                       강릉(구 105)
위도                                           37.8046
경도                                          128.8554
노장해발고도(m)                                      75.24
기압계(관측장비지상높이(m))                               76.67
기온계(관측장비지상높이(m))                                 1.7
풍속계(관측장비지상높이(m))                                10.0
강우계(관측장비지상높이(m))                                 1.4
Name: 11, dtype: object

---
## Dataframe 내의 데이터 다루기

In [44]:
df.fillna(0)

,지점,시작일,종료일,지점명,지점주소,관리관서,위도,경도,노장해발고도(m),기압계(관측장비지상높이(m)),기온계(관측장비지상높이(m)),풍속계(관측장비지상높이(m)),강우계(관측장비지상높이(m))
0,90,1968-01-01,0,속초,강원특별자치도 고성군토성면 봉포5길9 속초자동기상관측소,속초기상대(90),38.2509,128.5647,17.53,18.73,1.7,10.0,1.4
1,93,2016-10-01,0,북춘천,강원특별자치도 춘천시신북읍 산천리264(장본1길 12) 춘천기상대,춘천기상대(101),37.9474,127.7544,95.78,96.78,1.5,10.0,1.4
2,95,1988-01-01,0,철원,강원특별자치도 철원군갈말읍 명성로179번길 26 철원자동기상관측소,춘천기상대(101),38.1479,127.3042,155.48,156.98,1.8,13.0,1.5
3,98,1998-02-01,0,동두천,경기도 동두천시방죽로 16-47동두천서비스센터,수도권기상청(119),37.9019,127.0607,115.62,116.74,1.7,10.0,1.0
4,99,2013-10-22,0,파주,경기도 파주시문산읍 마정로46-29(파주기상대),수도권기상청(119),37.8859,126.7665,30.59,31.99,1.7,10.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,288,1973-01-01,0,밀양,경상남도 밀양시점필재로 5밀양자동기상관측소,울산기상대(152),35.4915,128.7441,8.31,12.50,2.0,10.0,1.3
140,289,1972-03-30,0,산청,경상남도 산청군 산청읍 꽃봉산로133번길 3산청자동기상관측소,창원기상대(155),35.4130,127.8791,138.22,138.80,1.6,10.0,0.6
141,294,1972-01-24,0,거제,경상남도 거제시 장평2로2길 47거제자동기상관측소(장평동),부산지방기상청(159),34.8882,128.6046,44.83,46.70,1.7,10.0,0.6
142,295,1972-01-24,0,남해,경상남도 남해군이동면 남해대로2423 남해자동기상관측소,부산지방기상청(159),34.8166,127.9264,45.71,47.01,1.8,10.0,0.8
143,296,2023-01-11,0,북부산,부산광역시 강서구 대저로63번길 54부산지방기상청(대저1동),부산지방기상청(159),35.2178,128.9602,3.00,0.00,0.0,0.0,0.0

In [45]:
df.dropna()

,지점,시작일,종료일,지점명,지점주소,관리관서,위도,경도,노장해발고도(m),기압계(관측장비지상높이(m)),기온계(관측장비지상높이(m)),풍속계(관측장비지상높이(m)),강우계(관측장비지상높이(m))
5,99,2001-12-07,2013-10-22,파주,경기도 파주시문산읍 마정로46-29(파주기상대),파주기상대(99),37.8859,126.7665,29.42,31.40,1.70,10.0,0.5
10,102,2000-11-01,2018-05-01,백령도,인천광역시 옹진군백령면 진촌리1031,백령도기상대(102),37.9661,124.6305,146.00,147.20,1.80,9.0,1.2
15,108,1907-10-01,2010-08-16,서울,서울특별시 종로구송월길 52서울기상관측소,서울기상관측소(108),37.5714,126.9658,85.50,86.50,1.50,10.0,0.6
17,112,1904-08-29,2013-10-22,인천,인천광역시 중구 자유공원서로 61인천기상대(전동),인천기상대(112),37.4776,126.6244,68.15,70.15,1.50,10.0,0.6
22,119,1964-01-01,2019-07-24,수원,경기도 수원시권선구 권선로276,수도권기상청(119),37.2723,126.9853,34.84,35.84,1.60,18.7,1.1
27,130,1971-01-12,2020-12-04,울진,경상북도 울진군울진읍 현내항길157 울진지역기상서비스센터,대구(구 143),36.9918,129.4128,48.98,50.18,1.75,10.0,1.3
38,143,1907-01-31,2017-08-25,대구,대구광역시 동구 효동로2길 10대구지방기상청 (효목동),대구(구 143),35.8282,128.6522,53.40,54.90,1.80,10.0,0.6
40,146,1918-06-23,2015-07-01,전주,전북특별자치도 전주시덕진구 상가마을길25 전주기상지청,전주기상대(146),35.8215,127.1550,53.40,62.40,1.80,18.4,0.6
42,152,2016-04-01,2017-08-25,울산,울산광역시 중구 달빛로 65-26울산기상대 (약사동),울산기상대(152),35.5826,129.3344,82.00,83.20,1.80,10.0,0.6
43,152,1932-01-06,2016-04-01,울산,울산광역시 중구 달빛로 65-26울산기상대 (약사동),울산기상대(152),35.5601,129.3203,34.57,35.80,1.50,12.0,0.5
52,165,1904-04-08,2019-10-31,목포,전라남도 목포시연산동 726-3번지목포기상대,목포기상대(165),34.8169,126.3812,38.00,39.20,1.50,14.5,1.0
58,175,2001-11-03,2019-08-01,진도(첨찰산),전라남도 진도군의신면 운림산방로527-209,목포기상대(165),34.4721,126.3238,478.51,479.76,1.50,10.0,0.8
68,188,1971-07-15,2008-09-04,성산,제주특별자치도 서귀포시성산읍 신난로11 성산레이더관측소,성산지역기상서비스센터(188),33.3868,126.8804,18.40,20.10,1.50,10.0,0.6
70,189,1961-01-01,2010-11-09,서귀포,제주특별자치도 서귀포시태평로 439번길17 서귀포관측소,서귀포지역기상서비스센터(189),33.2461,126.5653,50.40,51.60,1.80,10.0,0.6
85,232,1972-01-08,2016-04-01,천안,충청남도 천안시동남구 병천면병천리 263-3(천안지역기상서비스센터),천안지역기상서비스센터(232),36.7796,127.1213,21.30,22.60,1.80,9.5,0.6
90,239,2019-05-31,2020-04-01,세종,세종특별자치시 세종로 905-22(새롬동 550) (새롬동),대전지방기상청(133),36.4864,127.2350,94.00,95.00,1.60,10.0,1.0
94,245,1970-01-05,2016-11-01,정읍,전북특별자치도 정읍시서부산업도로 168-43국립전북기상과학관,전주기상대(146),35.5632,126.8661,44.60,46.10,1.70,10.0,0.6
96,247,2013-08-01,2017-08-25,남원,전북특별자치도 남원시춘향로 74-32남원지역기상서비스센터,전주기상대(146),35.4023,127.3967,127.48,91.80,1.70,10.0,0.7
97,247,1972-01-04,2013-08-01,남원,전북특별자치도 남원시춘향로 74-32남원지역기상서비스센터,남원기상대(247),35.4054,127.3330,90.29,94.70,1.80,10.0,0.6
100,251,2008-11-28,2010-12-01,고창군,전북특별자치도 고창군중거리당산로 74-12 상하수도사업소,고창기상대(미사용 251),35.4266,126.6970,54.00,55.30,1.80,10.0,0.7
101,251,2007-11-01,2008-11-28,고창군,전북특별자치도 고창군중거리당산로 74-12 상하수도사업소,고창기상대(미사용 251),35.4251,126.6990,54.02,55.32,1.50,10.0,0.5
113,259,2009-11-10,2021-02-25,강진군,전라남도 강진군 강진읍 종합운동장길 58-8종합운동장 내 (군동면 호계리 733),목포기상대(165),34.6289,126.7672,9.95,13.90,1.50,10.0,0.6
117,262,1972-01-22,2017-08-25,고흥,전라남도 고흥군고흥읍 행정리483-1번지,여수기상대(168),34.6182,127.2757,53.12,54.60,1.50,10.0,0.6
122,266,2011-01-01,2017-08-25,광양시,전라남도 광양시중동 산109-3,광주지방기상청(156),34.9430,127.6910,80.90,82.40,1.70,10.0,0.6
125,271,1988-01-01,2020-12-04,봉화,경상북도 봉화군춘양면 서동길59 봉화자동기상관측소,대구(구 143),36.9436,128.9145,324.67,326.22,1.90,10.0,0.6
128,273,1973-01-01,2020-12-04,문경,경상북도 문경시유곡불정로 223문경자동기상관측소,대구(구 143),36.6273,128.1488,173.01,174.51,1.80,10.0,0.6
130,276,2010-09-01,2020-12-04,청송군,경상북도 청송군청송읍 길안청송로1591-9(덕리 519-1) 청송군공동협력기상관측소,안동기상대(136),36.4351,129.0401,208.65,210.20,1.75,10.0,0.5
137,284,1972-01-24,2011-03-04,거창,경상남도 거창군 거창읍 수남로 2117거창자동기상관측소,거창기상대(284),35.6712,127.9110,221.40,222.60,1.50,10.0,0.5

In [49]:
df['지점']==99

0      False
1      False
2      False
3      False
4       True
       ...
139    False
140    False
141    False
142    False
143    False
Name: 지점, Length: 144, dtype: bool

In [50]:
df[df['지점']==99]

,지점,시작일,종료일,지점명,지점주소,관리관서,위도,경도,노장해발고도(m),기압계(관측장비지상높이(m)),기온계(관측장비지상높이(m)),풍속계(관측장비지상높이(m)),강우계(관측장비지상높이(m))
4,99,2013-10-22,NaN,파주,경기도 파주시문산읍 마정로46-29(파주기상대),수도권기상청(119),37.8859,126.7665,30.59,31.99,1.7,10.0,1.0
5,99,2001-12-07,2013-10-22,파주,경기도 파주시문산읍 마정로46-29(파주기상대),파주기상대(99),37.8859,126.7665,29.42,31.40,1.7,10.0,0.5

In [52]:
df.drop_duplicates(subset='지점')

,지점,시작일,종료일,지점명,지점주소,관리관서,위도,경도,노장해발고도(m),기압계(관측장비지상높이(m)),기온계(관측장비지상높이(m)),풍속계(관측장비지상높이(m)),강우계(관측장비지상높이(m))
0,90,1968-01-01,NaN,속초,강원특별자치도 고성군토성면 봉포5길9 속초자동기상관측소,속초기상대(90),38.2509,128.5647,17.53,18.73,1.7,10.0,1.4
1,93,2016-10-01,NaN,북춘천,강원특별자치도 춘천시신북읍 산천리264(장본1길 12) 춘천기상대,춘천기상대(101),37.9474,127.7544,95.78,96.78,1.5,10.0,1.4
2,95,1988-01-01,NaN,철원,강원특별자치도 철원군갈말읍 명성로179번길 26 철원자동기상관측소,춘천기상대(101),38.1479,127.3042,155.48,156.98,1.8,13.0,1.5
3,98,1998-02-01,NaN,동두천,경기도 동두천시방죽로 16-47동두천서비스센터,수도권기상청(119),37.9019,127.0607,115.62,116.74,1.7,10.0,1.0
4,99,2013-10-22,NaN,파주,경기도 파주시문산읍 마정로46-29(파주기상대),수도권기상청(119),37.8859,126.7665,30.59,31.99,1.7,10.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,288,1973-01-01,NaN,밀양,경상남도 밀양시점필재로 5밀양자동기상관측소,울산기상대(152),35.4915,128.7441,8.31,12.50,2.0,10.0,1.3
140,289,1972-03-30,NaN,산청,경상남도 산청군 산청읍 꽃봉산로133번길 3산청자동기상관측소,창원기상대(155),35.4130,127.8791,138.22,138.80,1.6,10.0,0.6
141,294,1972-01-24,NaN,거제,경상남도 거제시 장평2로2길 47거제자동기상관측소(장평동),부산지방기상청(159),34.8882,128.6046,44.83,46.70,1.7,10.0,0.6
142,295,1972-01-24,NaN,남해,경상남도 남해군이동면 남해대로2423 남해자동기상관측소,부산지방기상청(159),34.8166,127.9264,45.71,47.01,1.8,10.0,0.8
143,296,2023-01-11,NaN,북부산,부산광역시 강서구 대저로63번길 54부산지방기상청(대저1동),부산지방기상청(159),35.2178,128.9602,3.00,NaN,NaN,NaN,NaN

In [54]:
df.sum(axis=0)

/var/folders/gc/ff4n9zsn627505xfdgvjc4wr0000gn/T/ipykernel_55093/3976943683.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.sum(axis=0)

지점                                                              28408
시작일                 1968-01-012016-10-011988-01-011998-02-012013-1...
지점명                 속초북춘천철원동두천파주파주대관령대관령춘천백령도백령도북강릉강릉동해서울서울인천인천원주울...
위도                                                          5184.4317
경도                                                         18385.4002
노장해발고도(m)                                                    14996.98
기압계(관측장비지상높이(m))                                             15090.09
기온계(관측장비지상높이(m))                                               233.23
풍속계(관측장비지상높이(m))                                               1554.7
강우계(관측장비지상높이(m))                                               118.57
dtype: object

In [55]:
df.sum(axis=1)

/var/folders/gc/ff4n9zsn627505xfdgvjc4wr0000gn/T/ipykernel_55093/1459321664.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.sum(axis=1)

0      306.1756
1      464.1618
2      589.2121
3      508.0226
4      338.9324
         ...
139    486.3456
140    741.5121
141    561.3228
142    563.0630
143    463.1780
Length: 144, dtype: float64

In [57]:
df.sort_index()

,지점,시작일,종료일,지점명,지점주소,관리관서,위도,경도,노장해발고도(m),기압계(관측장비지상높이(m)),기온계(관측장비지상높이(m)),풍속계(관측장비지상높이(m)),강우계(관측장비지상높이(m))
0,90,1968-01-01,NaN,속초,강원특별자치도 고성군토성면 봉포5길9 속초자동기상관측소,속초기상대(90),38.2509,128.5647,17.53,18.73,1.7,10.0,1.4
1,93,2016-10-01,NaN,북춘천,강원특별자치도 춘천시신북읍 산천리264(장본1길 12) 춘천기상대,춘천기상대(101),37.9474,127.7544,95.78,96.78,1.5,10.0,1.4
2,95,1988-01-01,NaN,철원,강원특별자치도 철원군갈말읍 명성로179번길 26 철원자동기상관측소,춘천기상대(101),38.1479,127.3042,155.48,156.98,1.8,13.0,1.5
3,98,1998-02-01,NaN,동두천,경기도 동두천시방죽로 16-47동두천서비스센터,수도권기상청(119),37.9019,127.0607,115.62,116.74,1.7,10.0,1.0
4,99,2013-10-22,NaN,파주,경기도 파주시문산읍 마정로46-29(파주기상대),수도권기상청(119),37.8859,126.7665,30.59,31.99,1.7,10.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,288,1973-01-01,NaN,밀양,경상남도 밀양시점필재로 5밀양자동기상관측소,울산기상대(152),35.4915,128.7441,8.31,12.50,2.0,10.0,1.3
140,289,1972-03-30,NaN,산청,경상남도 산청군 산청읍 꽃봉산로133번길 3산청자동기상관측소,창원기상대(155),35.4130,127.8791,138.22,138.80,1.6,10.0,0.6
141,294,1972-01-24,NaN,거제,경상남도 거제시 장평2로2길 47거제자동기상관측소(장평동),부산지방기상청(159),34.8882,128.6046,44.83,46.70,1.7,10.0,0.6
142,295,1972-01-24,NaN,남해,경상남도 남해군이동면 남해대로2423 남해자동기상관측소,부산지방기상청(159),34.8166,127.9264,45.71,47.01,1.8,10.0,0.8
143,296,2023-01-11,NaN,북부산,부산광역시 강서구 대저로63번길 54부산지방기상청(대저1동),부산지방기상청(159),35.2178,128.9602,3.00,NaN,NaN,NaN,NaN

In [60]:
df.sort_values(by='시작일')

,지점,시작일,종료일,지점명,지점주소,관리관서,위도,경도,노장해발고도(m),기압계(관측장비지상높이(m)),기온계(관측장비지상높이(m)),풍속계(관측장비지상높이(m)),강우계(관측장비지상높이(m))
52,165,1904-04-08,2019-10-31,목포,전라남도 목포시연산동 726-3번지목포기상대,목포기상대(165),34.8169,126.3812,38.00,39.20,1.5,14.5,1.0
48,159,1904-04-09,NaN,부산,부산광역시 중구복병산길 32번길 5-11 부산기상관측소 (대청동1가),부산지방기상청(159),35.1047,129.0320,69.56,70.90,1.5,18.0,1.3
17,112,1904-08-29,2013-10-22,인천,인천광역시 중구 자유공원서로 61인천기상대(전동),인천기상대(112),37.4776,126.6244,68.15,70.15,1.5,10.0,0.6
38,143,1907-01-31,2017-08-25,대구,대구광역시 동구 효동로2길 10대구지방기상청 (효목동),대구(구 143),35.8282,128.6522,53.40,54.90,1.8,10.0,0.6
15,108,1907-10-01,2010-08-16,서울,서울특별시 종로구송월길 52서울기상관측소,서울기상관측소(108),37.5714,126.9658,85.50,86.50,1.5,10.0,0.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
112,259,2021-02-25,NaN,강진군,전라남도 강진군 강진읍 종합운동장길 58-8종합운동장 내 (군동면 호계리 733),목포기상대(165),34.6446,126.7841,16.00,20.00,1.5,10.0,0.6
63,181,2022-01-21,2023-05-01,서청주,NaN,청주기상대(131),36.6397,127.3969,32.00,32.00,1.5,10.0,0.5
143,296,2023-01-11,NaN,북부산,부산광역시 강서구 대저로63번길 54부산지방기상청(대저1동),부산지방기상청(159),35.2178,128.9602,3.00,NaN,NaN,NaN,NaN
62,181,2023-05-01,NaN,서청주,NaN,청주기상대(131),36.6400,127.3847,32.00,32.00,1.5,10.0,0.5
80,217,2023-07-01,NaN,정선군,강원특별자치도 정선군정선읍 애산리 498-21,강릉(구 105),37.3773,128.6735,312.00,312.00,1.5,10.0,0.5

In [63]:
pd.concat([df,df2])

,지점,시작일,종료일,지점명,지점주소,관리관서,위도,경도,노장해발고도(m),기압계(관측장비지상높이(m)),기온계(관측장비지상높이(m)),풍속계(관측장비지상높이(m)),강우계(관측장비지상높이(m)),age,stamp,name,class,test
0,90.0,1968-01-01,NaN,속초,강원특별자치도 고성군토성면 봉포5길9 속초자동기상관측소,속초기상대(90),38.2509,128.5647,17.53,18.73,1.7,10.0,1.4,NaN,NaN,NaN,NaN,NaN
1,93.0,2016-10-01,NaN,북춘천,강원특별자치도 춘천시신북읍 산천리264(장본1길 12) 춘천기상대,춘천기상대(101),37.9474,127.7544,95.78,96.78,1.5,10.0,1.4,NaN,NaN,NaN,NaN,NaN
2,95.0,1988-01-01,NaN,철원,강원특별자치도 철원군갈말읍 명성로179번길 26 철원자동기상관측소,춘천기상대(101),38.1479,127.3042,155.48,156.98,1.8,13.0,1.5,NaN,NaN,NaN,NaN,NaN
3,98.0,1998-02-01,NaN,동두천,경기도 동두천시방죽로 16-47동두천서비스센터,수도권기상청(119),37.9019,127.0607,115.62,116.74,1.7,10.0,1.0,NaN,NaN,NaN,NaN,NaN
4,99.0,2013-10-22,NaN,파주,경기도 파주시문산읍 마정로46-29(파주기상대),수도권기상청(119),37.8859,126.7665,30.59,31.99,1.7,10.0,1.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
one,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.0,11.0,Jeong,0.5,
two,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.0,12.0,Lee,1.0,
three,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.0,13.5,Choi,2.1,
four,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.0,14.5,Kim,3.5,
five,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.0,15.0,Hong,4.5,